<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

   <!-- Add fancyBox -->
  <link rel="stylesheet" href="/javascripts/jquery.fancybox.css" type="text/css" media="screen" />
  <script type="text/javascript" src="/javascripts/jquery.fancybox.js?"></script>

  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyJnafQFeXEsQAaKnsBDezhrKbbv6aUEo">


  </script> 

  <title>footscray streetart</title>

</head>

<body>

  <%= yield %>
  
  <script type="text/javascript" src="/javascripts/app.js"></script>
</body>

</html>



