
<form action="/art_sites" method="post">

  <label for="">artist name</label>
  <input type="text" name="artist_name">

  <label for="">address</label>
  <input type="text" name="address">

  <label for="">photo</label>
  <input type="text" name="art_photo">

  <label for="">artist url</label>
  <input type="text" name="artist_url">

  <button>add artwork</button>

</form>