
html, body {
  margin-left: 10px;
  padding: 0;
  height: 100%;
}

#artpic {
  display: inline;
  width: auto;
  height: 140px;
/*    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;*/
}

#map {
  height: 70%;
}

h1 {
  font-family: Helvetica, Arial;

}

h2 {
  font-family: Helvetica, Arial;
  
}

li {
  font-family: Helvetica, Arial;
}

a {
    text-decoration: none;
    color: gray;
}

a:visited {
    text-decoration: none;
    color: #6699FF;
}

a:active {
    color: #FF66FF;
}
